[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydicom = "*"
numpy = "*"
pandas = "*"
bigtree = "*"
graphviz = "*"
sklearn = "*"
scikit-learn = "*"
scikit-image = "*"
scipy =  "*"
matplotlib = "*"
simpleitk = "*"

[dev-packages]

[requires]
python_version = "3.11"
