[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
simpleitk = "*"
lungmask = "*"
numpy = "*"
bigtree = "*"
pydicom = "*"
pandas = "*"
matplotlib = "*"
ipywidgets = "*"
ipython = "*"
scipy = "*"
torch = "*"
torchio = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
